# general modules
django >6.0,<6.1
python-decouple
pillow
djangorestframework

# third party modules
markdown
django-filter
drf-yasg[validation]
djangorestframework-simplejwt
djoser

# deployment modules

# email third party modules
django-templated-email

# refactoring and tests
black
flake8
pytest
pytest-django
faker